body {
    padding: 1em;
}

button {
    height: 3em;
    border: 0.1em solid black;
    border-radius: 1em;
}

#startAllBlocking {
    width: 100%;
    font-size: 150%;
    background-color: green;
    margin-bottom: 0.5em;
}

#stopAllBlocking {
    width: 100%;
    font-size: 150%;
    background-color: red;
}

#blockedListListContainer {
    display: flex;
    flex-flow: row wrap;
}

.blockedListContainer {
    display: flex;
    flex-flow: column nowrap;
    width: 20em;
    height: 50em;
    border: 0.2em solid black;
    border-radius: 2em;
    margin: 1em 1em 0 0;
    padding: 2em;
}

.blockedListItem {
    width: 100%;
    margin-bottom: 2em;
}

#addBlockedList {
    order: 10000000;
}

.name {
    text-align: center;
    font-size: 150%;
}

.optionsContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 0.1em solid black;
    border-radius: 1em;
    padding: 1em 0;
}

.enableOnStartupCheckboxLabel {
    align-items: center;
}

.customRedirectTextInput {
    width: 10em;
    height: 1em;
}

.importFromCsvLabel {
    border: 0.1em solid black;
    padding: 0.3em;
    cursor: pointer;
}

.blockedSitesContainer {
    flex-grow: 1;
    border: 1px solid black;
}

input[type="file"] {
    display: none;
}

li:hover {
    text-decoration: line-through;
    text-decoration-color: red;
    color: red;
}

#addBlockedList {
    text-align: center;
}

#addBlockedList:hover {
    cursor: pointer;
}