body {
  width: 20em;
  height: 20em;
  padding: 2em;
}

#startAllBlocking {
  width: 100%;
  font-size: 150%;
}

.setBlockingButton {
  background-color: green;
  height: 2em;
  border: 0.1em solid black;
  border-radius: 0.25em;
}

#blockedListListContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.blockedListContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 12em;
  border: 0.2em solid black;
  border-radius: 2em;
  padding: 1em;
  margin: 1em 0;
}

.blockedListItem {
  width: 100%;
  margin-bottom: 1em;
}

.name {
  text-align: center;
  font-size: 150%;
}

.tempUnblockContainer {
  flex-flow: row nowrap;
}

#goToOptions {
  width: 100%;
  background-color: cyan;
  margin: 1em 0;
}
